<footer>
  <div class="container container-footer">
    <img src="assets/media/images/C1.png" class="bg-footer">
    <div class="footer-info">

      <div class="info">
        <div class="footer-title">
          Follow Us
        </div>
        <div class="spacer-info">
          <img src="assets/media/images/decor-title.svg" alt="">
        </div>
        <a href="https://www.linkedin.com/checkpoint/challenge/AgEWCtafjv1v_gAAAZO5fwlFknwj44VjDP8H_l8ZtKMa-0u_aT-QHyQURE0NYUNw3b_kGR4wAll7_ZtyXXsyxk6KqtBX7g?ut=24rRDhFGSk-rw1" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-linkedin"></i></div>
          <div class="footer-title-1">linkedin</div>
        </a>
        <a href="https://www.instagram.com/Oktxip_/" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-instagram"></i></div>
          <div class="footer-title-1">Instagram</div>
        </a>
        <a href="https://github.com/Oktxip/Oktxip.github.io" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-github"></i></div>
          <div class="footer-title-1">github</div>
        </a>
      </div>
      
      <div class="info">
        <div class="footer-title">
          contact
        </div>
        <div class="spacer-info">
          <img src="assets/media/images/decor-title.svg" alt="">
        </div>
        <a href="mailto:Oktaiwp849@gmail.com" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-envelope"></i></div>
          <div class="footer-title-1">SumberRezeki@gmail.com</div>
        </a>
        <a href="index.html" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-user"></i></div>
          <div class="footer-title-1">Sumber Rezeki</div>
        </a>
        <a href="contact.html" class="footer-wrapper">
          <div class="footer-icon"><i class="fa fa-comments"></i></div>
          <div class="footer-title-1">contact</div>
        </a>
      </div>

      <div class="info">
        <div class="footer-title">
          Pengalaman
        </div>
        <div class="spacer-info">
          <img src="assets/media/images/decor-title.svg" alt="">
        </div>
        <div class="footer-text">
          Dengan lebih dari 10 tahun pengalaman, kami telah membantu lebih dari 500 proyek konstruksi di berbagai skala."
        </div>
      </div>
      
    </div>
    <div class="footer-cr">
      Copyright &copy; by Okta Pratama
    </div>
  </div>
</footer>